*{
  margin: 20px;
}

#navBar{
  display: flex;
}

#navBar nav ul li{
  list-style: none;
}

#cartButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartCounter{
  display: flex;
  position: relative;
  height: 25px;
  width: 25px;
  margin: 0px;
}

#cartCounter p{
  display: flex;
  width: 25px;
  height: 23px;
  background-color: red;
  padding: 0px 8px;
  border-radius: 50%;
}

#catButton{
  display: flex;
  width: 100px;
  position: relative;
  justify-content: center;
  left: 38%;
  padding: 2px;
  background-color: black;
  color: white;
}

#itemListContainer{
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
}

#itemCard{
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#itemCard p{
  color: black;
}

#itemCard h3{
  color: black;
}